nodes:
  node_1:
    node_name:    mabji01-rh58x64-1
    node_user:    root
    node_pwd:     caworld1!
  
  node_2:
    node_name:    mabji01-sl10sp3x64-1
    node_user:    root
    node_pwd:     caworld1!

  node_3:
    node_name:    mabji01-sl11sp2x64-1
    node_user:    root
    node_pwd:     caworld1!

backup_destination:
  nfs:
    path:         155.35.65.52:/S100
  cifs:
    path:         //wanke05-2k8r2ds/cifs
    user:         administrator
    pwd:          jJO3unU9yXUJaKv7KwRGLg==

encryption:
  pwd:          jJO3unU9yXUJaKv7KwRGLg==
  
report:
  mail_list:  jiankun.ma@ca.com
  subject:    UDP Linux Agent Update 2 Backup and BMR BQ in Xen Server Report
  
